In [1]:
import tabletools as tt
table = tt.read_csv("Unemployment Rate 2008-2019.csv")

In [1]:
# first 5 rows of the data set including column headers
table.head(5)

NameError: name 'table' is not defined

In [2]:
# last 5 rows of the data set including column headers
table.tail(5)

NameError: name 'table' is not defined

In [4]:
# any 2 columns, including column headers; limit to 10 rows
table.head(10)[['Label', 'Value']]

            Label     Value
        0  2008 Jan       5.0
        1  2008 Feb       4.9
        2  2008 Mar       5.1
        3  2008 Apr       5.0
        4  2008 May       5.4
        5  2008 Jun       5.6
        6  2008 Jul       5.8
        7  2008 Aug       6.1
        8  2008 Sep       6.1
        9  2008 Oct       6.5

In [5]:
# filtering years according whether if the unemployment was in a 'bad condition' (above 5%)
poor_econ = table[table['Value'] > 5.0].head(10)

In [6]:
poor_econ

              Series ID         Year       Period        Label        Value
           0  LNS14000000       2008.0          M03     2008 Mar          5.1
           1  LNS14000000       2008.0          M05     2008 May          5.4
           2  LNS14000000       2008.0          M06     2008 Jun          5.6
           3  LNS14000000       2008.0          M07     2008 Jul          5.8
           4  LNS14000000       2008.0          M08     2008 Aug          6.1
           5  LNS14000000       2008.0          M09     2008 Sep          6.1
           6  LNS14000000       2008.0          M10     2008 Oct          6.5
           7  LNS14000000       2008.0          M11     2008 Nov          6.8
           8  LNS14000000       2008.0          M12     2008 Dec          7.3
           9  LNS14000000       2009.0          M01     2009 Jan          7.8

In [7]:
# show only the year, month and the value of unemployment
poor_econ[['Label', 'Value']].head(10)

            Label     Value
        0  2008 Mar       5.1
        1  2008 May       5.4
        2  2008 Jun       5.6
        3  2008 Jul       5.8
        4  2008 Aug       6.1
        5  2008 Sep       6.1
        6  2008 Oct       6.5
        7  2008 Nov       6.8
        8  2008 Dec       7.3
        9  2009 Jan       7.8

In [8]:
# finding the row with the max value of unemployment
table[table['Value'] == max(table['Value'])]

              Series ID         Year       Period        Label        Value
           0  LNS14000000       2009.0          M10     2009 Oct         10.0

In [9]:
# filtering all the years that was economically 'good' for the job market (where unemployment was below 5%)
table[table['Value'] < 5.0].head(10)

              Series ID         Year       Period        Label        Value
           0  LNS14000000       2008.0          M02     2008 Feb          4.9
           1  LNS14000000       2016.0          M01     2016 Jan          4.9
           2  LNS14000000       2016.0          M02     2016 Feb          4.9
           3  LNS14000000       2016.0          M05     2016 May          4.8
           4  LNS14000000       2016.0          M06     2016 Jun          4.9
           5  LNS14000000       2016.0          M07     2016 Jul          4.8
           6  LNS14000000       2016.0          M08     2016 Aug          4.9
           7  LNS14000000       2016.0          M10     2016 Oct          4.9
           8  LNS14000000       2016.0          M11     2016 Nov          4.7
           9  LNS14000000       2016.0          M12     2016 Dec          4.7